In [43]:
import pandas

In [44]:
data = pandas.read_csv('gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [45]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
country           2 non-null object
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12), object(1)
memory usage: 288.0+ bytes
None

In [46]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [47]:
data = pandas.read_csv('gapminder_gdp_oceania.csv', index_col='country')
print(data)

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

In [48]:
help(pandas.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        .. deprecated:: 0.19.0
           Please call `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        .. deprecated:: 0.19.0
           Use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        .. deprecated:: 0.19.0
           This argument is not respected by the parser
    compact_ints : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        .. deprecated:: 0.19.0
           Argument moved to ``pd.to_numeric``

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [50]:
print(data.columns)

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [51]:
print(data.T)

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [52]:
transposed_data = data.T

In [53]:
print(transposed_data.columns)

Index(['Australia', 'New Zealand'], dtype='object', name='country')

In [54]:
print(transposed_data.index)

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [55]:
print(data.describe())

       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count        2.000000        2.000000        2.000000        2.000000
mean     10298.085650    11598.522455    12696.452430    14495.021790
std        365.560078      917.644806      677.727301       43.986086
min      10039.595640    10949.649590    12217.226860    14463.918930
25%      10168.840645    11274.086022    12456.839645    14479.470360
50%      10298.085650    11598.522455    12696.452430    14495.021790
75%      10427.330655    11922.958888    12936.065215    14510.573220
max      10556.575660    12247.395320    13175.678000    14526.124650

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count         2.00000        2.000000        2.000000        2.000000
mean      16417.33338    17283.957605    18554.709840    20448.040160
std         525.09198     1485.263517     1304.328377     2037.668013
min       16046.03728    16233.717700    17632.410400    19007.191290
25%       16231.68533    16758.837652    18093.560120    19727.615725
50%       16417.33338    17283.957605    18554.709840    20448.040160
75%       16602.98143    17809.077557    19015.859560    21168.464595
max       16788.62948    18334.197510    19477.009280    21888.889030

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count        2.000000        2.000000        2.000000        2.000000
mean     20894.045885    24024.175170    26938.778040    29810.188275
std       3578.979883     4205.533703     5301.853680     6540.991104
min      18363.324940    21050.413770    23189.801350    25185.009110
25%      19628.685413    22537.294470    25064.289695    27497.598692
50%      20894.045885    24024.175170    26938.778040    29810.188275
75%      22159.406358    25511.055870    28813.266385    32122.777857
max      23424.766830    26997.936570    30687.754730    34435.367440

In [56]:
help(data.head)

Help on method head in module pandas.core.generic:

head(n=5) method of pandas.core.frame.DataFrame instance
    Return the first n rows.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    obj_head : type of caller
        The first n rows of the caller object.

In [57]:
help(data.tail)

Help on method tail in module pandas.core.generic:

tail(n=5) method of pandas.core.frame.DataFrame instance
    Return the last n rows.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    obj_tail : type of caller
        The last n rows of the caller object.

In [58]:
africa_data = pandas.read_csv('gapminder_gdp_africa.csv', index_col='country')

In [59]:
print(africa_data.describe())

       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count       52.000000       52.000000       52.000000       52.000000
mean      1252.572466     1385.236062     1598.078825     2050.363801
std        982.952116     1134.508918     1461.839189     2847.717603
min        298.846212      335.997115      355.203227      412.977514
25%        534.990554      606.954355      673.329046      779.815648
50%        987.025569     1024.022987     1133.783677     1210.376379
75%       1454.886645     1573.040442     1702.219247     1890.112274
max       4725.295531     5487.104219     6757.030816    18772.751690

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count       52.000000       52.000000       52.000000       52.000000
mean      2339.615674     2585.938508     2481.592960     2282.668991
std       3286.853884     4142.398707     3242.632753     2566.531947
min        464.099504      502.319733      462.211415      389.876185
25%        815.919804      805.612125      828.656854      764.598759
50%       1443.372508     1399.638836     1323.728306     1219.585563
75%       2292.258613     2841.282025     2787.582271     2786.310885
max      21011.497210    21951.211760    17364.275380    11864.408440

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count       52.000000       52.000000       52.000000       52.000000
mean      2281.810333     2378.759555     2599.385159     3089.032605
std       2644.075602     2820.728117     2972.651308     3618.163491
min        410.896824      312.188423      241.165877      277.551859
25%        743.908497      791.901966      780.577824      862.951537
50%       1161.631357     1179.883114     1215.683217     1452.267078
75%       2707.896077     2856.386031     3314.887180     3993.501583
max      13522.157520    14722.841880    12521.713920    13206.484520

In [60]:
africa_data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994
Burundi,339.296459,379.564628,355.203227,412.977514,464.099504,556.103265,559.603231,621.818819,631.699878,463.115148,446.403513,430.070692
Cameroon,1172.667655,1313.048099,1399.607441,1508.453148,1684.146528,1783.432873,2367.983282,2602.664206,1793.163278,1694.337469,1934.011449,2042.095240
Central African Republic,1071.310713,1190.844328,1193.068753,1136.056615,1070.013275,1109.374338,956.752991,844.876350,747.905525,740.506332,738.690607,706.016537
Chad,1178.665927,1308.495577,1389.817618,1196.810565,1104.103987,1133.984950,797.908101,952.386129,1058.064300,1004.961353,1156.181860,1704.063724
Comoros,1102.990936,1211.148548,1406.648278,1876.029643,1937.577675,1172.603047,1267.100083,1315.980812,1246.907370,1173.618235,1075.811558,986.147879
Congo Dem. Rep.,780.542326,905.860230,896.314634,861.593242,904.896069,795.757282,673.747818,672.774812,457.719181,312.188423,241.165877,277.551859
Congo Rep.,2125.621418,2315.056572,2464.783157,2677.939642,3213.152683,3259.178978,4879.507522,4201.194937,4016.239529,3484.164376,3484.061970,3632.557798
Cote d'Ivoire,1388.594732,1500.895925,1728.869428,2052.050473,2378.201111,2517.736547,2602.710169,2156.956069,1648.073791,1786.265407,1648.800823,1544.750112
Djibouti,2669.529475,2864.969076,3020.989263,3020.050513,3694.212352,3081.761022,2879.468067,2880.102568,2377.156192,1895.016984,1908.260867,2082.481567
Egypt,1418.822445,1458.915272,1693.335853,1814.880728,2024.008147,2785.493582,3503.729636,3885.460710,3794.755195,4173.181797,4754.604414,5581.180998
Equatorial Guinea,375.643123,426.096408,582.841971,915.596003,672.412257,958.566812,927.825343,966.896815,1132.055034,2814.480755,7703.495900,12154.089750
Eritrea,328.940557,344.161886,380.995843,468.794970,514.324208,505.753808,524.875849,521.134133,582.858510,913.470790,765.350001,641.369524
Ethiopia,362.146280,378.904163,419.456416,516.118644,566.243944,556.808383,577.860747,573.741314,421.353465,515.889401,530.053532,690.805576
Gabon,4293.476475,4976.198099,6631.459222,8358.761987,11401.948410,21745.573280,15113.361940,11864.408440,13522.157520,14722.841880,12521.713920,13206.484520
Gambia,485.230659,520.926711,599.650276,734.782912,756.086836,884.755251,835.809611,611.658861,665.624413,653.730170,660.585600,752.749726
Ghana,911.298937,1043.561537,1190.041118,1125.697160,1178.223708,993.223957,876.032569,847.006113,925.060154,1005.245812,1111.984578,1327.608910
Guinea,510.196492,576.267025,686.373674,708.759541,741.666231,874.685864,857.250358,805.572472,794.348438,869.449767,945.583584,942.654211
Guinea-Bissau,299.850319,431.790457,522.034373,715.580640,820.224588,764.725963,838.123967,736.415392,745.539871,796.664468,575.704718,579.231743
Kenya,853.540919,944.438315,896.966373,1056.736457,1222.359968,1267.613204,1348.225791,1361.936856,1341.921721,1360.485021,1287.514732,1463.249282
Lesotho,298.846212,335.997115,411.800627,498.639026,496.581592,745.369541,797.263107,773.993214,977.486272,1186.147994,1275.184575,1569.331442
Liberia,575.572996,620.969990,634.195163,713.603648,803.005454,640.322438,572.199569,506.113857,636.622919,609.173951,531.482368,414.507341
Libya,2387.548060,3448.284395,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11770.589800,9640.138501,9467.446056,9534.677467,12057.499280
Madagascar,1443.011715,1589.202750,1643.387110,1634.047282,1748.562982,1544.228586,1302.878658,1155.441948,1040.676190,986.295896,894.637082,1044.770126
Malawi,369.165080,416.369806,427.901086,495.514781,584.621971,663.223677,632.803921,635.517363,563.200014,692.275810,665.423119,759.349910
Mali,452.336981,490.382187,496.174343,545.009887,581.368876,686.395269,618.014064,684.171558,739.014375,790.257985,951.409752,1042.581557
Mauritania,743.115910,846.120261,1055.896036,1421.145193,1586.851781,1497.492223,1481.150189,1421.603576,1361.369784,1483.136136,1579.019543,1803.151496
Mauritius,1967.955707,2034.037981,2529.067487,2475.387562,2575.484158,3710.982963,3688.037739,4783.586903,6058.253846,7425.705295,9021.815894,10956.991120
Morocco,1688.203570,1642.002314,1566.353493,1711.044770,1930.194975,2370.619976,2702.620356,2755.046991,2948.047252,2982.101858,3258.495584,3820.175230
Mozambique,468.526038,495.586833,556.686354,566.669154,724.917804,502.319733,462.211415,389.876185,410.896824,472.346077,633.617947,823.685621
Namibia,2423.780443,2621.448058,3173.215595,3793.694753,3746.080948,3876.485958,4191.100511,3693.731337,3804.537999,3899.524260,4072.324751,4811.060429
Niger,761.879376,835.523403,997.766113,1054.384891,954.209236,808.897073,909.722135,668.300023,581.182725,580.305209,601.074501,619.676892
Nigeria,1077.281856,1100.592563,1150.927478,1014.514104,1698.388838,1981.951806,1576.973750,1385.029563,1619.848217,1624.941275,1615.286395,2013.977305
Reunion,2718.885295,2769.451844,3173.723340,4021.175739,5047.658563,4319.804067,5267.219353,5303.377488,6101.255823,6071.941411,6316.165200,7670.122558
Rwanda,493.323875,540.289398,597.473073,510.963714,590.580664,670.080601,881.570647,847.991217,737.068595,589.944505,785.653765,863.088464
Sao Tome and Principe,879.583586,860.736903,1071.551119,1384.840593,1532.985254,1737.561657,1890.218117,1516.525457,1428.777814,1339.076036,1353.092390,1598.435089
Senegal,1450.356983,1567.653006,1654.988723,1612.404632,1597.712056,1561.769116,1518.479984,1441.720720,1367.899369,1392.368347,1519.635262,1712.472136
Sierra Leone,879.787736,1004.484437,1116.639877,1206.043465,1353.759762,1348.285159,1465.010784,1294.447788,1068.696278,574.648158,699.489713,862.540756
Somalia,1135.749842,1258.147413,1369.488336,1284.733180,1254.576127,1450.992513,1176.807031,1093.244963,926.960296,930.596428,882.081822,926.141068
South Africa,4725.295531,5487.104219,5768.729717,7114.477971,7765.962636,8028.651439,8568.266228,7825.823398,7225.069258,7479.188244,7710.946444,9269.657808
Sudan,1615.991129,1770.337074,1959.593767,1687.997641,1659.652775,2202.988423,1895.544073,1507.819159,1492.197043,1632.210764,1993.398314,2602.394995
Swaziland,1148.376626,1244.708364,1856.182125,2613.101665,3364.836625,3781.410618,3895.384018,3984.839812,3553.022400,3876.768460,4128.116943,4513.480643
Tanzania,716.650072,698.535607,722.003807,848.218657,915.985059,962.492293,874.242607,831.822079,825.682454,789.186223,899.074211,1107.482182
Togo,859.808657,925.908320,1067.534810,1477.596760,1649.660188,1532.776998,1344.577953,1202.201361,1034.298904,982.286924,886.220577,882.969944
Tunisia,1468.475631,1395.232468,1660.303210,1932.360167,2753.285994,3120.876811,3560.233174,3810.419296,4332.720164,4876.798614,5722.895655,7092.923025
Uganda,734.753484,774.371069,767.271740,908.918522,950.735869,843.733137,682.266227,617.724406,644.170797,816.559081,927.721002,1056.380121
Zambia,1147.388831,1311.956766,1452.725766,1777.077318,1773.498265,1588.688299,1408.678565,1213.315116,1210.884633,1071.353818,1071.613938,1271.211593
Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [61]:
africa_data.head(3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873

In [62]:
africa_data.tail(2)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Zambia,1147.388831,1311.956766,1452.725766,1777.077318,1773.498265,1588.688299,1408.678565,1213.315116,1210.884633,1071.353818,1071.613938,1271.211593
Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [64]:
subset = africa_data.tail(2)
subset.to_csv('subset.csv')

In [65]:
africa_data.iloc[0, 1]

3013.976023

In [66]:
africa_data.loc['Algeria', 'gdpPercap_1957']

3013.976023

In [68]:
africa_data.iloc[0:2, 0]

country
Algeria    2449.008185
Angola     3520.610273
Name: gdpPercap_1952, dtype: float64

In [69]:
type(africa_data.iloc[0:2, 0])

pandas.core.series.Series

In [70]:
africa_data.iloc[0:2, :]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267

In [71]:
africa_data.iloc[:, 0]

country
Algeria                     2449.008185
Angola                      3520.610273
Benin                       1062.752200
Botswana                     851.241141
Burkina Faso                 543.255241
Burundi                      339.296459
Cameroon                    1172.667655
Central African Republic    1071.310713
Chad                        1178.665927
Comoros                     1102.990936
Congo Dem. Rep.              780.542326
Congo Rep.                  2125.621418
Cote d'Ivoire               1388.594732
Djibouti                    2669.529475
Egypt                       1418.822445
Equatorial Guinea            375.643123
Eritrea                      328.940557
Ethiopia                     362.146280
Gabon                       4293.476475
Gambia                       485.230659
Ghana                        911.298937
Guinea                       510.196492
Guinea-Bissau                299.850319
Kenya                        853.540919
Lesotho                      298.846212
Liberia                      575.572996
Libya                       2387.548060
Madagascar                  1443.011715
Malawi                       369.165080
Mali                         452.336981
Mauritania                   743.115910
Mauritius                   1967.955707
Morocco                     1688.203570
Mozambique                   468.526038
Namibia                     2423.780443
Niger                        761.879376
Nigeria                     1077.281856
Reunion                     2718.885295
Rwanda                       493.323875
Sao Tome and Principe        879.583586
Senegal                     1450.356983
Sierra Leone                 879.787736
Somalia                     1135.749842
South Africa                4725.295531
Sudan                       1615.991129
Swaziland                   1148.376626
Tanzania                     716.650072
Togo                         859.808657
Tunisia                     1468.475631
Uganda                       734.753484
Zambia                      1147.388831
Zimbabwe                     406.884115
Name: gdpPercap_1952, dtype: float64

In [72]:
type(africa_data.iloc[0:2, :])

pandas.core.frame.DataFrame

In [73]:
type(africa_data.iloc[:, 0])

pandas.core.series.Series

In [74]:
africa_data.loc['South Africa', :]

gdpPercap_1952    4725.295531
gdpPercap_1957    5487.104219
gdpPercap_1962    5768.729717
gdpPercap_1967    7114.477971
gdpPercap_1972    7765.962636
gdpPercap_1977    8028.651439
gdpPercap_1982    8568.266228
gdpPercap_1987    7825.823398
gdpPercap_1992    7225.069258
gdpPercap_1997    7479.188244
gdpPercap_2002    7710.946444
gdpPercap_2007    9269.657808
Name: South Africa, dtype: float64

In [75]:
africa_data.loc[:,'gdpPercap_2002']

country
Algeria                      5288.040382
Angola                       2773.287312
Benin                        1372.877931
Botswana                    11003.605080
Burkina Faso                 1037.645221
Burundi                       446.403513
Cameroon                     1934.011449
Central African Republic      738.690607
Chad                         1156.181860
Comoros                      1075.811558
Congo Dem. Rep.               241.165877
Congo Rep.                   3484.061970
Cote d'Ivoire                1648.800823
Djibouti                     1908.260867
Egypt                        4754.604414
Equatorial Guinea            7703.495900
Eritrea                       765.350001
Ethiopia                      530.053532
Gabon                       12521.713920
Gambia                        660.585600
Ghana                        1111.984578
Guinea                        945.583584
Guinea-Bissau                 575.704718
Kenya                        1287.514732
Lesotho                      1275.184575
Liberia                       531.482368
Libya                        9534.677467
Madagascar                    894.637082
Malawi                        665.423119
Mali                          951.409752
Mauritania                   1579.019543
Mauritius                    9021.815894
Morocco                      3258.495584
Mozambique                    633.617947
Namibia                      4072.324751
Niger                         601.074501
Nigeria                      1615.286395
Reunion                      6316.165200
Rwanda                        785.653765
Sao Tome and Principe        1353.092390
Senegal                      1519.635262
Sierra Leone                  699.489713
Somalia                       882.081822
South Africa                 7710.946444
Sudan                        1993.398314
Swaziland                    4128.116943
Tanzania                      899.074211
Togo                          886.220577
Tunisia                      5722.895655
Uganda                        927.721002
Zambia                       1071.613938
Zimbabwe                      672.038623
Name: gdpPercap_2002, dtype: float64

In [77]:
africa_data.loc['Benin':'Burundi', 'gdpPercap_1957':'gdpPercap_1972']

              gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Benin             959.601080      949.499064     1035.831411     1085.796879
Botswana          918.232535      983.653976     1214.709294     2263.611114
Burkina Faso      617.183465      722.512021      794.826560      854.735976
Burundi           379.564628      355.203227      412.977514      464.099504

In [78]:
subset = africa_data.loc['Benin':'Burundi', 'gdpPercap_1957':'gdpPercap_1972']

In [79]:
subset.describe()

       gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        4.000000        4.000000        4.000000        4.000000
mean       718.645427      752.717072      864.586195     1167.060868
std        272.742222      289.243040      346.760204      774.753250
min        379.564628      355.203227      412.977514      464.099504
25%        557.778756      630.684822      699.364298      757.076858
50%        767.708000      836.005542      915.328985      970.266428
75%        928.574671      958.037792     1080.550882     1380.250438
max        959.601080      983.653976     1214.709294     2263.611114

In [80]:
subset.mean()

gdpPercap_1957     718.645427
gdpPercap_1962     752.717072
gdpPercap_1967     864.586195
gdpPercap_1972    1167.060868
dtype: float64

In [81]:
subset.max()

gdpPercap_1957     959.601080
gdpPercap_1962     983.653976
gdpPercap_1967    1214.709294
gdpPercap_1972    2263.611114
dtype: float64

In [82]:
subset.min()

gdpPercap_1957    379.564628
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
dtype: float64

In [83]:
subset.std()

gdpPercap_1957    272.742222
gdpPercap_1962    289.243040
gdpPercap_1967    346.760204
gdpPercap_1972    774.753250
dtype: float64

In [84]:
subset.mean(axis=1)

country
Benin           1007.682109
Botswana        1345.051730
Burkina Faso     747.314505
Burundi          402.961218
dtype: float64

In [86]:
subset

              gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Benin             959.601080      949.499064     1035.831411     1085.796879
Botswana          918.232535      983.653976     1214.709294     2263.611114
Burkina Faso      617.183465      722.512021      794.826560      854.735976
Burundi           379.564628      355.203227      412.977514      464.099504

In [87]:
subset > 700

              gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Benin                   True            True            True            True
Botswana                True            True            True            True
Burkina Faso           False            True            True            True
Burundi                False           False           False           False

In [94]:
algeria_data = africa_data.loc['Algeria', :]
zimbabwe_data = africa_data.loc['Zimbabwe', :]
two_country_data = pandas.concat([algeria_data, zimbabwe_data], axis=1)

In [96]:
two_country_data.T

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [100]:
subset[subset > 700]

              gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Benin             959.601080      949.499064     1035.831411     1085.796879
Botswana          918.232535      983.653976     1214.709294     2263.611114
Burkina Faso             NaN      722.512021      794.826560      854.735976
Burundi                  NaN             NaN             NaN             NaN

In [99]:
africa_data[africa_data.index.isin(['Algeria', 'Zimbabwe'])]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [101]:
filtered_subset = subset[subset > 700]

In [102]:
filtered_subset.describe()

       gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000        3.000000
mean       938.916808      885.221687     1015.122422     1401.381323
std         29.251979      141.941770      210.706014      755.597409
min        918.232535      722.512021      794.826560      854.735976
25%        928.574671      836.005542      915.328985      970.266428
50%        938.916808      949.499064     1035.831411     1085.796879
75%        949.258944      966.576520     1125.270352     1674.703997
max        959.601080      983.653976     1214.709294     2263.611114

In [103]:
filtered_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Benin to Burundi
Data columns (total 4 columns):
gdpPercap_1957    2 non-null float64
gdpPercap_1962    3 non-null float64
gdpPercap_1967    3 non-null float64
gdpPercap_1972    3 non-null float64
dtypes: float64(4)
memory usage: 320.0+ bytes

In [104]:
subset > 700

              gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Benin                   True            True            True            True
Botswana                True            True            True            True
Burkina Faso           False            True            True            True
Burundi                False           False           False           False

In [105]:
subset > subset.mean()

              gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Benin                   True            True            True           False
Botswana                True            True            True            True
Burkina Faso           False           False           False           False
Burundi                False           False           False           False

In [106]:
subset.aggregate('sum')

gdpPercap_1957    2874.581708
gdpPercap_1962    3010.868288
gdpPercap_1967    3458.344778
gdpPercap_1972    4668.243473
dtype: float64

In [112]:
subset > africa_data.loc[:,'gdpPercap_1952':'gdpPercap_1972'].mean() / 2

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972
country,,,,,
Benin,False,True,True,True,False
Botswana,False,True,True,True,True
Burkina Faso,False,False,False,False,False
Burundi,False,False,False,False,False

In [121]:
mask2 = subset > africa_data.loc[:,'gdpPercap_1952':'gdpPercap_1972'].mean() / 2
mask2

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972
country,,,,,
Benin,False,True,True,True,False
Botswana,False,True,True,True,True
Burkina Faso,False,False,False,False,False
Burundi,False,False,False,False,False

In [120]:
mask2.aggregate('sum')

gdpPercap_1952    0
gdpPercap_1957    2
gdpPercap_1962    2
gdpPercap_1967    2
gdpPercap_1972    1
dtype: int64

In [123]:
sum([1, 2, 3])

6

In [124]:
sum([True, True, False])

2

In [125]:
int(True)

1

In [126]:
int(False)

0

In [127]:
mask2.aggregate('sum', axis=1)

country
Benin           3
Botswana        4
Burkina Faso    0
Burundi         0
dtype: int64

In [128]:
mask2.T.aggregate('sum')

country
Benin           3
Botswana        4
Burkina Faso    0
Burundi         0
dtype: int64

In [129]:
mask2.aggregate(sum)

gdpPercap_1952    0
gdpPercap_1957    2
gdpPercap_1962    2
gdpPercap_1967    2
gdpPercap_1972    1
dtype: int64

In [139]:
%load_ext rpy2.ipython

In [140]:
%%R -i subset
subset

             gdpPercap_1957 gdpPercap_1962 gdpPercap_1967 gdpPercap_1972
Benin              959.6011       949.4991      1035.8314      1085.7969
Botswana           918.2325       983.6540      1214.7093      2263.6111
Burkina Faso       617.1835       722.5120       794.8266       854.7360
Burundi            379.5646       355.2032       412.9775       464.0995